body {
	background-color:#cd9fff;
}

main {
	background-image: linear-gradient(to right, #7a1696, #be0182);
	position:relative;
	color:white;
}

/*media query*/
@media only screen and (max-width:  600px) {
	body {
		background-color:deeppink;
		 height:2em;
	}

 header{
        top: 0;
        height:2em;
    }
h1{
            margin-top: 0.3em;
            font-size: 1em;
        }

.heading {
	margin-top: 0.3em;
	color:#f9bbff; 
	font-size:1.5em;
	
}
}

.nothing {
	 background: #e91e63 linear-gradient(45deg, #09ffd6 25%, #eeff02 85%);
	text-align: center;
    font-family: "Coda", Sans;
    font-size: 1em;
    color: black;
	}

.textbox {
	padding-left:10px;
}

footer{
	background: #e91e63 linear-gradient(45deg, #09ffd6 25%, #eeff02 85%);
	overflow:hidden;
	text-align: center;
	position:relative;
	bottom:0;
	
	//*height:75px;*//
	}
	
.Back {
		background-color:C3C3C3;
		padding:2px;
		border: 1px solid black;
		margin:5px;
}
	
.footernav {
	display:inline;
	list-style-type:none;
	
}

.footernav a{
	color:black;
	text-decoration:none;
	}

header{
	background-color:#cd9fff;
	overflow:hidden;
	position:absolute;
	top:0;
	width: 100%;
	height:125px;
	} 

nav {
	border: 1px solid black;

}

.login {
	float:right;
	padding-top:10px;
	padding-right:50px;
	color:#F75945;
	text-decoration:none;
}
	
.navbar {
	background-color:#484848;
	overflow:hidden;
	}	

.navbar a {
	float:left;
	display:block;
	color:#a90087;
	text-align:center;
	padding: 4px 10px;
	text-decoration:none; 
	border: 1px solid black;
`	}

main a {
	float:left;
	display:block;
	background-color:#cd9fff;
	color:#F75945;
	text-align:center;
	padding: 4px 10px;
	text-decoration:none; 
	border: 1px solid black;
	margin-left:5px;
`	}

.submit {
	float:left;
	display:block;
	background-color:#a90087;
	background-image: linear-gradient(to right, #be0182, #7a1696);
	color:#000000;
	text-align:center;
	padding: 6px 15px;
	text-decoration:none; 
	border: 5px solid rgb(0, 0, 0);
	margin-left:5px;
`	}

main a:hover {
	background-color: #169691;
	}

.navbar a:hover {
	background-color: #169691;
	}
	
.navbar a:active {
	background-color: #169691;
	}
	
h1,h2 {
	color:#F75945; font-size:1.5em; background-color:#cd9fff;
}

p, h3, tr {
	color:White;
	}

.bookshelf {
	float:right;
	width:200px;
	height:190px;
	padding-right:100px;
	padding-left:100px;
}

label {
	text-size:1.0em;
}
/*w3school code for responsive video size
https://www.w3schools.com/howto/howto_css_responsive_iframes.asp
*/
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; max-width:560px;
}
